[submodule "https://github.com/ananthakrishnan/gitcommittest"]
	path = https://github.com/ananthakrishnan/gitcommittest
	url = git://github.com/ananthakrishnan/gitcommittest
[submodule "/Users/Ananthakrishnan/Documents/Anantha Krishnan/Anantha Workspace/AdaptiveU_V2.0"]
	path = /Users/Ananthakrishnan/Documents/Anantha Krishnan/Anantha Workspace/AdaptiveU_V2.0
	url = /Users/Ananthakrishnan/Documents/Anantha Krishnan/Anantha Workspace/AdaptiveU_V2.0
